.app {
  padding: 20px 40px;
}

.title {
  padding: 10px;
  font-size: 22px;
  border: 1px solid orange;
  margin: 0 0 20px 0;
}

.content {
  margin: 40px 0;
  border: 1px solid green;
}

.bold-text {
  font-weight: bold;
  margin-left: 40px;
  /*margin: 0 0 0 40px;*/
}

.increment-component {
  border: 1px solid blue;
  padding: 10px;
}

.message {
  border: 1px solid grey;
  margin-top: 10px;
}
